<div class="current-weather-container">
  <div class="current-weather-temp">
    <div class="current-weather-temp-img">
      <img src="#" alt="" />
    </div>
    <div class="current-weather-temp-t">NA</div>
    <div class="current-weather-address">NA</div>
  </div>
  <div class="current-weather-info">
    <div class="current-weather-info-feels">NA</div>
    <div class="current-weather-info-wind">NA</div>
    <div class="current-weather-info-humi">NA</div>
  </div>
</div>