<div class="forecast-weather-container">
  <div class="heading">Forcast: </div>
  <div class="forecast-card-container">
    <div class="forecast-card">
      <div class="forecast-card-date">NA</div>
      <div class="forecast-card-img"></div>
      <div class="forecast-card-weather">NA</div>
    </div>

  </div>
</div>