<div class="header">
  <div class="header-logo"><div>Weather</div></div>
  <div class="header-search">
    <div class="header-search-input">
      <input type="text" placeholder="location" />
    </div>
    <div class="header-search-btn search-btn">
      <div class="header-search-btn-img">
        <img src="/img/outline_search_white_24dp.png" alt="search" />
      </div>
    </div>
    <div class="header-search-btn location-btn">
      <div class="header-search-btn-img">
        <img
          src="/img/outline_gps_fixed_white_24dp.png"
          alt="Current Location"
        />
      </div>
    </div>
  </div>
</div>