@media only screen and (max-width: 750px) {
  :root {
    --bgc: #16161d;
    --fontColorBase: #fff;
    --fontColorCard: rgba(59, 60, 54, 0.4);
    --fontfamily: "Yanone Kaffeesatz", sans-serif;
    --fontWeightLogo: 700;
    --fontWeightHeader: 400;
    --fontWeightNorm: 200;
    --fontSizeLogo: 56;
    --fontSizeHeader: 28;
    --fontSizeNorm: 16;
  }
  .header {
    width: 100%;
    flex-direction: column;
  }
  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header-search {
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
  .header-search-input {
    width: 60vw;
    justify-content: center;
  }
  .header-search-input input[type="text"] {
    width: 100%;
  }
  .info-container {
    /* height: auto; */
    height: 75vh;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .current-weather-container {
    width: 100%;
    height: 60%;
  }
  .current-weather-temp {
    width: 100%;
    height: 100%;
  }
  .current-weather-info {
    width: 90%;
    height: 55%;
    padding-right: 0px;
    /* height: auto; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .current-weather-info-feels,
  .current-weather-info-wind,
  .current-weather-info-humi {
    margin-top: 0px;
  }
  .forecast-weather-container {
    width: 100%;
    height: 35%;
  }
  .forecast-card-container {
    height: 100%;
    width: 100%;
    overflow-y: visible;
  }
  .forecast-card {
    height: 25vh;
    width: 40%;
  }
}
