@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap");
:root {
  --bgc: #16161d;
  --fontColorBase: #fff;
  --fontColorCard: rgba(59, 60, 54, 0.4);
  --fontfamily: "Yanone Kaffeesatz", sans-serif;
  --fontWeightLogo: 700;
  --fontWeightHeader: 400;
  --fontWeightNorm: 200;
  --fontSizeLogo: 72;
  --fontSizeHeader: 56;
  --fontSizeNorm: 22;
}
html,
body {
  margin: 0;
  background-color: var(--bgc);
}
.test {
  border: solid 1px red;
}
.main-margin {
  margin: 0 5vw 0 5vw;
}
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header-container {
  height: 15vh;
  width: 100%;
}
.header {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  color: var(--fontColorBase);
  font-family: var(--fontfamily);
  font-weight: var(--fontWeightHeader);
  font-size: var(--fontSizeLogo);
}
.currtempm {
  font-size: 20px;
  margin-left: 2vw;
}
.header-search {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-search-input {
  width: 40vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-search-input input[type="text"] {
  text-align: center;
  padding: 6px;
  border: none;
  font-size: var(--fontSizeNorm);
  font-family: var(--fontfamily);
  width: 60%;
  height: 7vh;
}
.header-search-btn {
  width: 5vw;
  height: 100%;
  margin-left: 1vw;
}
.header-search-btn-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.current-weather-container {
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.current-weather-temp {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.current-weather-temp-t {
  font-family: var(--fontfamily);
  color: var(--fontColorBase);
  font-size: var(--fontSizeLogo);
  font-weight: var(--fontWeightLogo);
}
.current-weather-address {
  font-family: var(--fontfamily);
  color: var(--fontColorBase);
  font-size: var(--fontSizeNorm);
}

.current-weather-info {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 5px;
  background-color: var(--fontColorCard);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.current-weather-info-feels,
.current-weather-info-wind,
.current-weather-info-humi {
  color: var(--fontColorBase);
  font-family: var(--fontfamily);
  font-size: var(--fontSizeNorm);
  margin-top: 10px;
  margin-left: 16px;
}
.forecast-weather-container {
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: var(--fontColorBase);
  font-family: var(--fontfamily);
  font-size: 28px;
}
.forecast-card-container {
  height: 90%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}
.forecast-card-container::-webkit-scrollbar {
  /* width: 1px; */
  visibility: hidden;
}

/* .forecast-card-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.forecast-card-container::-webkit-scrollbar-thumb {
  background: #888;
}

.forecast-card-container::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
.forecast-card {
  height: 25vh;
  width: 12vw;
  background-color: var(--fontColorCard);
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.forecast-card-date {
  font-family: var(--fontfamily);
  font-size: 18px;
  color: var(--fontColorBase);
}
.forecast-card-img {
  font-family: var(--fontfamily);
  font-size: 42px;
  color: var(--fontColorBase);
}
.forecast-card-weather {
  font-family: var(--fontfamily);
  font-size: 18px;
  color: var(--fontColorBase);
}
.degree {
  font-size: 12px;
  vertical-align: super;
}
