<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/style-mob.css">
    <title>Weather</title>
  </head>
  <body>
    <div class="main-container main-margin">
        <div class="header-container">
            {{>header}}
        </div>
        <div class="info-container">
          {{>currentW}}
          {{>forcastW}}
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
    <script>
      const date = new Date();
      const weekDay = ['Sun', 'Mon', 'Tue', "Wed", 'Thru', 'Fri', 'Sat']
      const currentDate = `${date.getDate()} - ${date.getMonth() + 1} - ${date.getFullYear()}, ${weekDay[date.getUTCDay()]}`
      document.querySelector('.currtempm').innerHTML = currentDate
    </script>
  </body>
</html>